In [43]:
import pandas as pd

In [44]:
df= pd.read_csv("MICRODADOS_ENEM_2020.csv", encoding='ISO-8859-1', sep=";")

In [45]:
dados_selecionados=df[['TP_COR_RACA','TP_SEXO','TP_ESCOLA', 'NU_NOTA_MT', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_CN', 'NU_NOTA_REDACAO']]

In [46]:
dados_selecionados['NOTAS_TOTAIS']= 0
#criação de uma nova coluna pra armazenarmos a nota total de cada candidato

/home/felipesilva/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [47]:
dados_selecionados['NOTAS_TOTAIS']= (dados_selecionados['NU_NOTA_CN'] + dados_selecionados["NU_NOTA_LC"]+
                                     dados_selecionados['NU_NOTA_CN']+ dados_selecionados['NU_NOTA_MT']+
                                    dados_selecionados['NU_NOTA_REDACAO'])/5
#cálculo pra sabermos a nota total de cada candidato

/home/felipesilva/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [48]:
dados_selecionados

,TP_COR_RACA,TP_SEXO,TP_ESCOLA,NU_NOTA_MT,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_CN,NU_NOTA_REDACAO,NOTAS_TOTAIS
0,2,F,1,NaN,NaN,NaN,NaN,NaN,NaN
1,3,M,1,711.3,661.7,595.3,604.1,580.0,618.96
2,3,F,2,NaN,NaN,NaN,NaN,NaN,NaN
3,3,M,2,759.4,675.0,624.2,620.8,760.0,677.04
4,3,F,1,NaN,NaN,NaN,NaN,NaN,NaN
5,3,F,1,526.7,604.7,505.4,498.1,700.0,545.66
6,3,M,1,NaN,NaN,NaN,NaN,NaN,NaN
7,1,M,1,753.2,604.8,562.1,604.6,600.0,624.90
8,3,F,1,448.5,383.5,486.2,439.7,600.0,482.82
9,2,M,2,NaN,NaN,NaN,NaN,NaN,NaN
10,1,M,1,NaN,NaN,NaN,NaN,NaN,NaN
11,1,M,1,546.5,631.4,627.9,491.1,640.0,559.32
12,3,F,1,NaN,NaN,NaN,NaN,NaN,NaN
13,2,F,1,NaN,NaN,NaN,NaN,NaN,NaN
14,2,M,1,NaN,NaN,NaN,NaN,NaN,NaN
15,3,F,1,NaN,NaN,NaN,NaN,NaN,NaN
16,3,F,1,NaN,NaN,NaN,NaN,NaN,NaN
17,1,M,1,NaN,NaN,NaN,NaN,NaN,NaN
18,3,F,1,420.3,488.1,559.1,422.4,800.0,524.84
19,2,M,1,405.6,503.3,439.8,486.0,500.0,463.48
20,3,M,1,NaN,NaN,NaN,NaN,NaN,NaN
21,1,M,1,NaN,NaN,NaN,NaN,NaN,NaN
22,3,F,1,746.4,667.2,593.6,660.6,920.0,716.24
23,3,F,1,NaN,398.3,336.5,NaN,520.0,NaN
24,2,F,1,542.8,588.9,525.9,488.0,700.0,548.94
25,2,F,2,NaN,NaN,NaN,NaN,NaN,NaN
26,2,F,1,561.6,436.2,508.3,394.4,520.0,475.74
27,3,F,1,596.5,591.2,543.0,545.6,580.0,562.14
28,3,M,1,NaN,NaN,NaN,NaN,NaN,NaN
29,1,F,1,664.9,598.0,546.1,535.8,740.0,604.52
...,...,...,...,...,...,...,...,...,...
5783079,1,F,1,NaN,NaN,NaN,NaN,NaN,NaN
5783080,3,F,1,NaN,NaN,NaN,NaN,NaN,NaN
5783081,1,M,1,NaN,NaN,NaN,NaN,NaN,NaN
5783082,3,F,1,412.7,412.9,531.3,532.3,0.0,401.72
5783083,3,F,1,NaN,NaN,NaN,NaN,NaN,NaN
5783084,3,M,2,411.4,404.8,415.8,377.6,340.0,384.48
5783085,2,M,1,NaN,NaN,NaN,NaN,NaN,NaN
5783086,2,M,1,NaN,NaN,NaN,NaN,NaN,NaN
5783087,1,F,1,NaN,NaN,NaN,NaN,NaN,NaN
5783088,2,M,1,NaN,NaN,NaN,NaN,NaN,NaN
5783089,1,F,1,NaN,NaN,NaN,NaN,NaN,NaN
5783090,1,M,1,NaN,518.4,513.8,NaN,0.0,NaN
5783091,1,F,1,NaN,NaN,NaN,NaN,NaN,NaN
5783092,3,F,1,NaN,NaN,NaN,NaN,NaN,NaN
5783093,2,F,1,NaN,NaN,NaN,NaN,NaN,NaN
5783094,3,F,1,NaN,NaN,NaN,NaN,NaN,NaN
5783095,2,F,1,332.7,418.1,500.0,478.8,440.0,446.06
5783096,3,M,1,NaN,NaN,NaN,NaN,NaN,NaN
5783097,3,F,1,NaN,NaN,NaN,NaN,NaN,NaN
5783098,3,F,2,NaN,NaN,NaN,NaN,NaN,NaN
5783099,1,M,1,NaN,NaN,NaN,NaN,NaN,NaN
5783100,0,M,1,NaN,NaN,NaN,NaN,NaN,NaN
5783101,3,F,2,340.0,401.2,467.4,393.8,500.0,419.00
5783102,3,F,1,NaN,NaN,NaN,NaN,NaN,NaN
5783103,1,M,2,469.1,613.3,596.4,547.3,660.0,564.02
5783104,1,F,2,725.7,661.4,658.3,508.3,900.0,660.12
5783105,1,M,2,719.5,646.1,607.2,570.5,660.0,625.54
5783106,1,F,1,648.1,597.5,674.5,418.8,660.0,564.04
5783107,1,F,3,NaN,NaN,NaN,NaN,NaN,NaN
5783108,3,F,2,481.7,625.5,538.4,478.5,380.0,471.42

In [49]:
dados_selecionados['TP_ESCOLA']=dados_selecionados['TP_ESCOLA'].astype(object)
dados_selecionados['TP_COR_RACA']=dados_selecionados['TP_COR_RACA'].astype(object)

#função DAX = tranformando números em textos

/home/felipesilva/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/home/felipesilva/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [50]:
dados_selecionados['TP_ESCOLA']=dados_selecionados['TP_ESCOLA'].replace([1,2,3,4],['nao respondeu', 'publica', 'privada', 'exterior'])
dados_selecionados['TP_COR_RACA']=dados_selecionados['TP_COR_RACA'].replace([0,1,2,3,4,5], ['nao declarou', 'branca', 'preta', 'parda', 'amarela', 'indigena'])

#atribuindo textos nos valores

/home/felipesilva/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/home/felipesilva/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [51]:
dados_selecionados=dados_selecionados.dropna()
#eliminando linhas sem valores

In [52]:
dados_selecionados

,TP_COR_RACA,TP_SEXO,TP_ESCOLA,NU_NOTA_MT,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_CN,NU_NOTA_REDACAO,NOTAS_TOTAIS
1,parda,M,nao respondeu,711.3,661.7,595.3,604.1,580.0,618.96
3,parda,M,publica,759.4,675.0,624.2,620.8,760.0,677.04
5,parda,F,nao respondeu,526.7,604.7,505.4,498.1,700.0,545.66
7,branca,M,nao respondeu,753.2,604.8,562.1,604.6,600.0,624.90
8,parda,F,nao respondeu,448.5,383.5,486.2,439.7,600.0,482.82
11,branca,M,nao respondeu,546.5,631.4,627.9,491.1,640.0,559.32
18,parda,F,nao respondeu,420.3,488.1,559.1,422.4,800.0,524.84
19,preta,M,nao respondeu,405.6,503.3,439.8,486.0,500.0,463.48
22,parda,F,nao respondeu,746.4,667.2,593.6,660.6,920.0,716.24
24,preta,F,nao respondeu,542.8,588.9,525.9,488.0,700.0,548.94
26,preta,F,nao respondeu,561.6,436.2,508.3,394.4,520.0,475.74
27,parda,F,nao respondeu,596.5,591.2,543.0,545.6,580.0,562.14
29,branca,F,nao respondeu,664.9,598.0,546.1,535.8,740.0,604.52
36,parda,F,publica,433.9,509.7,532.3,486.9,620.0,512.00
37,parda,F,nao respondeu,441.8,537.4,549.2,378.1,600.0,469.44
39,parda,F,nao respondeu,492.0,500.2,579.7,459.3,0.0,398.06
40,parda,F,nao respondeu,496.7,482.4,565.0,514.8,720.0,562.26
41,nao declarou,F,nao respondeu,397.0,448.4,432.7,503.4,500.0,467.30
43,parda,F,nao respondeu,582.1,554.1,586.4,519.5,540.0,549.50
44,parda,M,nao respondeu,533.9,545.2,572.7,526.8,620.0,556.04
46,parda,F,nao respondeu,461.1,497.0,541.7,469.9,540.0,496.52
47,parda,F,nao respondeu,724.2,684.5,626.6,641.3,960.0,718.68
49,branca,F,nao respondeu,455.2,434.8,512.9,379.8,600.0,465.54
51,preta,M,nao respondeu,580.2,583.8,551.4,525.6,500.0,536.56
53,parda,M,nao respondeu,525.2,592.9,462.9,471.5,840.0,554.22
54,parda,M,nao respondeu,397.3,390.3,504.7,515.4,380.0,462.56
58,branca,M,nao respondeu,636.6,603.5,513.4,573.3,460.0,551.32
59,branca,F,nao respondeu,504.5,502.1,566.1,569.7,700.0,582.00
60,preta,M,nao respondeu,672.1,514.2,576.8,482.0,940.0,630.58
61,parda,M,publica,339.2,395.6,505.7,439.6,280.0,400.82
...,...,...,...,...,...,...,...,...,...
5782949,parda,M,nao respondeu,328.1,515.3,454.4,479.3,260.0,400.22
5782950,branca,M,publica,418.9,410.6,385.9,359.0,640.0,432.56
5782958,preta,F,nao respondeu,494.6,469.7,472.3,433.4,360.0,438.74
5782960,preta,F,nao respondeu,344.0,449.8,485.8,476.4,540.0,464.52
5782967,parda,F,nao respondeu,630.7,589.2,605.2,534.3,580.0,576.90
5782970,branca,F,nao respondeu,634.3,612.6,500.7,576.4,560.0,569.56
5782973,parda,F,nao respondeu,445.0,562.5,536.5,484.6,440.0,478.14
5782974,nao declarou,M,nao respondeu,560.5,464.9,478.6,446.3,300.0,446.34
5782975,parda,F,nao respondeu,404.8,460.9,463.4,411.7,520.0,442.32
5782990,branca,F,nao respondeu,577.6,607.3,575.1,556.9,880.0,629.30
5782996,parda,F,nao respondeu,456.2,413.9,473.2,523.4,460.0,487.24
5783005,branca,F,nao respondeu,523.9,524.3,471.1,418.3,340.0,434.32
5783009,branca,M,nao respondeu,761.8,591.8,556.8,669.4,360.0,603.48
5783013,parda,F,nao respondeu,514.2,380.7,366.3,415.9,680.0,478.46
5783014,branca,F,publica,550.9,336.7,410.2,481.9,500.0,484.98
5783028,parda,F,nao respondeu,458.4,392.1,413.9,457.9,320.0,421.62
5783051,branca,M,nao respondeu,824.7,679.4,632.4,654.3,880.0,729.14
5783064,branca,F,nao respondeu,407.9,373.4,546.9,560.9,380.0,491.32
5783066,preta,F,publica,429.4,381.2,510.1,482.2,620.0,504.78
5783070,branca,F,nao respondeu,531.0,535.8,589.6,570.0,780.0,608.12
5783075,amarela,F,nao respondeu,569.8,395.1,586.5,468.4,840.0,586.62
5783082,parda,F,nao respondeu,412.7,412.9,531.3,532.3,0.0,401.72
5783084,parda,M,publica,411.4,404.8,415.8,377.6,340.0,384.48
5783095,preta,F,nao respondeu,332.7,418.1,500.0,478.8,440.0,446.06
5783101,parda,F,publica,340.0,401.2,467.4,393.8,500.0,419.00
5783103,branca,M,publica,469.1,613.3,596.4,547.3,660.0,564.02
5783104,branca,F,publica,725.7,661.4,658.3,508.3,900.0,660.12
5783105,branca,M,publica,719.5,646.1,607.2,570.5,660.0,625.54
5783106,branca,F,nao respondeu,648.1,597.5,674.5,418.8,660.0,564.04
5783108,parda,F,publica,481.7,625.5,538.4,478.5,380.0,471.42

1-Qual a escola com a maior média de notas?

In [53]:
ordenados=dados_selecionados.groupby(by="TP_ESCOLA").mean()
ordenados.sort_values("NOTAS_TOTAIS",ascending=False)

,NU_NOTA_MT,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_CN,NU_NOTA_REDACAO,NOTAS_TOTAIS
TP_ESCOLA,,,,,,
privada,610.698214,576.302829,572.515367,548.409506,721.360875,600.278694
nao respondeu,520.186538,515.180686,526.179352,491.440056,576.704632,521.190127
publica,499.649508,496.305134,513.927712,473.558821,558.862515,503.911476

2-Qual o aluno com a maior média de notas e o valor dessa média?

In [54]:
dados_selecionados.max()

TP_COR_RACA          preta
TP_SEXO                  M
TP_ESCOLA          publica
NU_NOTA_MT             975
NU_NOTA_CH           862.6
NU_NOTA_LC           801.1
NU_NOTA_CN           854.8
NU_NOTA_REDACAO       1000
NOTAS_TOTAIS        860.94
dtype: object

3-Qual a média geral?

In [55]:
dados_selecionados['NOTAS_TOTAIS'].mean()

521.8302108603132

4-Qual o % de Ausentes?

In [36]:
total=df['NU_INSCRICAO'].shape
total2=dados_selecionados.shape

In [37]:
total

(5783109,)

In [38]:
total2

(2588681,)

In [39]:
5783109-2588681

3194428

In [42]:
((3194428*100)/5783109)

55.237208913060435

5-Qual o número total de Inscritos?

In [56]:
df['NU_INSCRICAO'].shape

(5783109,)

6-Qual a média por disciplina?

In [57]:
dados_selecionados[['NU_NOTA_MT', 'NU_NOTA_CH','NU_NOTA_LC','NU_NOTA_CN','NU_NOTA_REDACAO']].mean()

NU_NOTA_MT         520.727299
NU_NOTA_CH         514.286982
NU_NOTA_LC         526.019202
NU_NOTA_CN         490.534635
NU_NOTA_REDACAO    581.335282
dtype: float64

7-Qual a média por Sexo?

In [58]:
dados_selecionados.groupby(by='TP_SEXO').mean()

,NU_NOTA_MT,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_CN,NU_NOTA_REDACAO,NOTAS_TOTAIS
TP_SEXO,,,,,,
F,500.825648,505.583836,523.715002,480.325099,595.774972,516.193164
M,551.106263,527.571939,529.536460,506.119026,559.293755,530.434906

8- Qual a média por etnia?

In [59]:
ordenados2=dados_selecionados.groupby(by='TP_COR_RACA').mean()
ordenados2.sort_values("NOTAS_TOTAIS",ascending=False)

,NU_NOTA_MT,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_CN,NU_NOTA_REDACAO,NOTAS_TOTAIS
TP_COR_RACA,,,,,,
branca,557.731909,541.211004,547.460972,513.274558,622.955168,550.939433
nao declarou,530.852546,525.745548,531.742550,499.981854,581.929200,528.897601
amarela,522.646086,509.029203,522.099920,491.120295,579.796689,521.356657
parda,498.909365,497.546313,512.233677,476.700432,557.897721,504.488326
preta,486.463739,493.328081,511.785220,470.741714,542.022757,496.351029
indigena,463.130770,468.550519,483.522721,453.439678,495.574651,469.821499